@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 15 23 42;
  }
}

body {
  background: #0f172a; /* Dark background */
  color: #fff;
  font-feature-settings: "rlig" 1, "calt" 1;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #1e293b;
}
::-webkit-scrollbar-thumb {
  background: #5708EF;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #9506FA;
}
